pipeline/RunOnceWeekly.json
{
	"name": "RunOnceWeekly",
	"properties": {
		"description": "Copy PostTypes and Users tables from RDS PostgreSQL DB on weekly basis.",
		"activities": [
			{
				"name": "Retry Copy Users",
				"type": "Until",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@variables('UserFileCopied')",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Users Conditional Action1",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Copy Users",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(activity('Copy Users').output.filesWritten, 0)",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Set UserFileCopied",
										"type": "SetVariable",
										"dependsOn": [],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "UserFileCopied",
											"value": true
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "Users Retry WaitTime",
										"type": "Wait",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"waitTimeInSeconds": 1800
										}
									}
								]
							}
						},
						{
							"name": "Copy Users",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "PostgreSqlV2Source"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_Users_pg",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ds_load_Users_csv",
									"type": "DatasetReference"
								}
							]
						}
					],
					"timeout": "0.12:00:00"
				}
			},
			{
				"name": "Retry Copy postTypes",
				"type": "Until",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@variables('PostTypeFileCopied ')",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "PostTypes Conditional Action",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Copy postTypes",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(activity('Copy postTypes').output.filesWritten, 0)",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Set PostTypeFileCopied",
										"type": "SetVariable",
										"dependsOn": [],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "PostTypeFileCopied ",
											"value": true
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "PostTypes Retry WaitTime",
										"type": "Wait",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"waitTimeInSeconds": 1800
										}
									}
								]
							}
						},
						{
							"name": "Copy postTypes",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "PostgreSqlV2Source"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_PostTypes_pg",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ds_load_PostTypes_csv",
									"type": "DatasetReference"
								}
							]
						}
					],
					"timeout": "0.12:00:00"
				}
			},
			{
				"name": "Check User FilesCopied",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Retry Copy Users",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@variables('UserFileCopied')",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Copy Users Files Failure",
							"type": "Fail",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"message": "User files were not copied from the source.",
								"errorCode": "CopyError"
							}
						}
					]
				}
			},
			{
				"name": "Check PostTypeFilesCopied",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Retry Copy postTypes",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@variables('PostTypeFileCopied ')",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Copy PostTypes Files Failure",
							"type": "Fail",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"message": "PostType files were not copied from the source.",
								"errorCode": "CopyFailure"
							}
						}
					]
				}
			}
		],
		"variables": {
			"PostTypeFileCopied ": {
				"type": "Boolean",
				"defaultValue": false
			},
			"UserFileCopied": {
				"type": "Boolean",
				"defaultValue": false
			}
		},
		"annotations": []
	}
}